* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body {
    margin: 0;
    padding: 0 0;
    overflow: scroll;
}


.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    background-color: lightsteelblue;
    padding: 0 10vw;
}

.top_bar a {
    text-decoration: none;
    color: black;
}

.top_bar ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_bar ul li {
    display: flex;
    list-style: none;
    /*margin: 0 2.5vw;*/
    justify-content: center;
    width: 20vw;
    border-right: 1px solid black;
    text-align: center;
}

.top_bar ul li:first-child {
    margin-left: 0;
    /*padding: 0;*/
}

.top_bar ul li:last-child {
    margin-right: 0;
    border-right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
    height: 8vh;
    padding: 0 10vw;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


nav ul li {
    display: flex;
    list-style: none;
    /*margin: 0 2.5vw;*/
    width: 20vw;
    justify-content: center;
    border-right: 1px solid black;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
    border-right: 0;
}

nav ul li a {
    transition: all ease 0.3s;
}

nav ul li a:hover {
    color: #909090;
}


.info {
    height: auto;
    /*background-image: url("https://t4.ftcdn.net/jpg/06/27/69/15/240_F_627691548_VcbDhlPOgapaH1Fy5qIj2T5XnBu24Xww.jpg");*/
    /*background-size: cover;*/
    background-color: lightsteelblue;
}

#name {
    font-size: 5vh;
    text-align: center;
    margin-bottom: 1vh;
    padding-top: 3vh;
}

#namesubtext {
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 60px;
}


#infodescription {
    text-align: center;
    font-size: 6vh;
    line-height: 7vh;
    margin-bottom: 100px;
}

#reestr {
    font-size: 2.5vh;
    text-align: center;
    line-height: 3.8vh;
    padding-bottom: 2vh;
}


.services {
    padding: 3vh 5vw;
    background-color: #f8f8f8;
}


#gridname {
    text-align: center;
    padding-bottom: 2vh;
    font-size: 3.5vh;
    color: lightsteelblue;
}


.servicesgrid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: auto;
}


.griditem {
    width: 21vw;
    background-color: #ffffff;
    border-radius: 5%;
    height: 350px;
    display: flex;
    flex-direction: column;
}

.gridimg {
    text-align: center;
    height: 40px;
    width: auto;
    padding: 10% 0;
    border-bottom: 1px solid #9d9d9d;
}

.gridtopname {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 60px;
    font-size: 3vh;
    color: lightsteelblue;
    align-items: center;
}

.gridtext {
    padding: 0 4%;
    text-align: left;
}


.others {
    padding: 4vh 10vw;
    display: flex;
    height: auto;
    /*justify-content: space-between;*/
}

.othersitem {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 10vh;
    justify-content: center;
    border-right: 1px solid gray;
    width: 100%;
}

.othersitem:last-child {
    border: 0;
}

.othersimg {
    height: 30%;
    width: auto;
    text-align: center;
}


.map {
    width: 100%;
    height: 500px;
}


footer {
    padding: 4vh 10vw;
    background-color: #5b5b5b;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}


.links {
    display: flex;
    flex-direction: column;
    width: 35%;
    text-align: left;
}

.links p {
    font-size: 3vh;
    padding-bottom: 4vh;
}

.links a {
    text-decoration: none;
    color: white;
    margin: 3% 0;
}



.legal{
    display: flex;
    flex-direction: column;
}


.legal p{
    font-size: 3vh;
    padding-bottom: 4vh;
}


.legal a{
    text-decoration: none;
    color: white;
    margin: 3% 0;
}



.footer_info {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: fit-content;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
}

.footer_info p {
    margin: 1vh 0;
}


.footer_info #number {
    font-size: 3.5vh;

}



.tarif_main {
    margin: 2vh 10vw;
}


.tarif_main #tarif_header {
    color: #909090;
    font-size: 4vh;
    padding-bottom: 2vh;
    text-align: center;
}

/* .slidetarif label{
    cursor: pointer;
    color: aquamarine;

}

.slidetarif span{
    transform: rotate(90deg);
    color: #333;
} */


.slidetarif {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background-color: #0000;
    font-size: 3vh;
    padding-bottom: 1vh;

}

.slidetariftext {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height: 26px;
    font-size: 3vh;
    margin: 10px 0;
}


.active,
.slidetarif:hover {
    color: #909090;
}


.tarifnice {
    padding: 1.5vh 0;
}

.tarifdescription {
    line-height: 24px;
    text-align: justify;
}



.infopage {
    padding: 0 10vw;
    line-height: 26px;
    text-align: justify;
    font-size: 2.5vh;
    margin: 3vh 0;
}

.infopage h1 {
    color: #909090;
    text-align: center;
    padding: 2vh 0;
}


.infopage p {
    padding: 10px 0;
}



.contactpage {
    padding: 0 10vw;
}


.contactpage h1 {
    color: #909090;
    text-align: center;
    padding: 2vh 0;
}


.contactbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.contactbox div {
    width: 100%;
    display: flex;
    align-items: center;
    height: 90%;
}



.contactbox1,
.contactbox2 {
    border-right: #5b5b5b 1px solid;
}

.contactbox1,
.contactbox2,
.contactbox3 {
    padding: 0 1vw;
}

.contactbox2 {
    flex-direction: column;
}


.contactbox p {
    padding: 0 1vw;
}



/* .contactbox1{
    display: flex;
    width: auto;
}



.contactbox2{
    display: flex;
} */



.contactimg {
    height: 26px;
    width: auto;
    text-align: center;
}



.contorapage {
    padding: 0 10vw 7vh 10vw;
}


.infocontora {
    height: 300px;
    /*background-image: url("https://t4.ftcdn.net/jpg/06/27/69/15/240_F_627691548_VcbDhlPOgapaH1Fy5qIj2T5XnBu24Xww.jpg");*/
    /*background-size: cover;*/
    background-color: rgb(197, 208, 222);
}

.name {
    font-size: 4vh;
    text-align: center;
    margin-bottom: 1vh;
    padding-top: 5%;

}

.namesubtext {
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 20px;
}

.contorabox1{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.contorabox2{
    height: 30%;
    display: flex;
    font-size: 2.5vh;
    text-align: center;
    line-height: 3.8vh;
    justify-content: center;
}

.reestr {
    display: flex;
    align-items: end;
    margin-bottom: 2vh;
}


