/* 
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */


html {
    font-family: sans-serif;
}



body{
    margin: 0;
    padding: 0;
}

.shape {
    padding: 0 10vw 0 10vw;
}


.navbar {
    margin: 0;
    padding: 2vh 10vh 2vh 10vh;
    height: 8vh;
    background-color: rgb(168, 168, 168);
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 0;
    padding: 1vw 0 0 0;
}

.logo {
    font-size: 4vh;
}

.navbar ul li {
    display: inline;
    font-size: 3vh;
}


.grid {
    border: 2px blue solid;
    height: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    /* width: auto;
    height: 30vw; */
    max-width: 70%;
    height: auto;
}

.services {
    grid-area: 2 / 1 / span 1 / span 2;
}

.map {
    grid-area: 3 / 1 / span 1 / span 2;
}